*{
  margin: 0px;
  padding: 0px;
}

header{
  background-color: blueviolet;
  position:fixed;
  width: 100%;
  padding: 0px;
  color: white;
  font-weight: 600;
  font-size: 30px;
  z-index:1;
}

.SocialMedialogo {
  
  height: 62px;
  margin: 5px;
  border-radius: 29%;
  position: relative;
  left: 321px;
  top: 288px;
  
 }

 
.navbarButtons{
  width: 99px;
  height: 39px;
  border-radius: 50px;
  margin-right: 28px;
  font-size: 17px;
  font-weight:600;
  background-color: transparent;
  border-color: transparent;
  margin-top: 4px;
  color: white;
  background-color: black;
}

.navbarHeading{
  color: #44f2fe;
  font-weight:900;
  font-family: monospace;
}

hr{
  height: 2px;
  background-color:black;
}

.navbarButtons1{
  color: aliceblue;
  width: 99px;
  height: 39px;
  border-radius: 50px;
  margin-right: 28px;
  font-size: 17px;
  font-weight:600;
  background-color: black;
  border-color: transparent;
}

.navbar{
  display: flex;
  justify-content: center;
  height:70px;
 position: relative;
 top: 14px;
 
 
}

#inputStrip{
border-radius: 20px;
width: 750px;
height:39px;
font-size: 20px;
font-weight:500;
color: black;
padding-left: 12px;
}

#box1 div{
 width: 100px;

 border-right: 2px solid black;
 position: relative;
 top: 60px;
 left: 35px;
 height: 60px;


}

#box1{
position: fixed;
top: 31px;


}



#box2{
  background-color: rgb(6, 32, 32);
 height:1000px;
width:1373px;
position: relative;
left: 143px;
top: 70px;
border: 2px solid black;
}

#mainbar{
  /* position: fixed; */
}